body {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    /*color: #D50000;*/
    letter-spacing: 2px;
    font-size: 2em;
}

h1 small {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    float: right;
    position: relative;
    top: 22px;
    opacity: 0.75;
}

h1 small span {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
}

h2 {
    margin: 0;
    background: #000;
    display: inline-block;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 0 10px;
    border-left: 7px double #FFF;
    margin-bottom: 1em;
}

header img {
    padding: 5px;
    border: 1px solid #000;
    height: 297px;
    box-sizing: border-box;
}

.container {
    width: 548px;
    margin: 50px auto;
}

nav ul {
    margin: 0;
    list-style-type: none;
    line-height: 1.5rem;
    padding-left: 40px;
}

nav ul > li:before {
    content: "├"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
}

nav ul > li:last-child:before {
    content: "└"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
}

nav ul > li:hover:before {
    content: "─"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
}

nav p {
    margin: 0;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 12px;
}

nav {
    padding-top: 1rem;
    float: left;
    padding-bottom: 1rem;
}

.whats-new {
    display: inline-block;
    float: right;
    width: 260px;
    border: 1px dashed #000;
    font-size: 12px;
    padding: 10px;
    margin-top: 1rem;
}

.whats-new ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer {
    width: 100%;
    display: block;
    opacity: 0.4;
    clear: both;
    font-size: 10px;
    text-align: right;
    padding-top: 0.5rem;
    border-top: 1px dotted #000;
}