body {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

.main {
    font-size: 12px;
}

h1 {
    margin-top: 2em; 
    background: #000;
    display: inline-block;
    color: #FFF;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 0 10px;
}

h1 + p {
    padding-bottom: 2em;
    margin-bottom: 3em;
    border-bottom: 1px dotted #CCC;
}

h2 {
    margin: 0;
    background: #000;
    display: inline-block;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 0 10px;
    border-left: 7px double #FFF;
}

section {
    font-size: 13px;
    line-height: 1.5rem;
}

.site-name {
    font-family: 'Gloria Hallelujah', cursive;
    /*color: #D50000;*/
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    display: block;
    margin: 0.67em 0;
}

.site-name small {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    float: right;
    position: relative;
    top: 22px;
    opacity: 0.75;
}

.site-name small span {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 10px 0;
    border-top: 4px double #000;
    border-bottom: 4px double #000;
}

nav ul > li:first-child:before {
    content: ""; /* en dash */
    position: absolute;
    margin-left: 0em; 
}

nav ul > li:before {
    content: "/"; /* en dash */
    position: absolute;
    margin-left: -2em; 
}

nav li:first-child {
    margin-left: 0;
}

nav li {
    display: inline-block;
    margin-left: 2em;
}

.stuff li {
    list-style-type: none;
}

ul.walkthrough li {
    list-style-type: square;
}

ul.material > li:before {
    content: "✻"; /* en dash */
    position: absolute;
    margin-left: -2em; 
}

ul.material > li:hover:before {
    content: "✽"; /* en dash */
    position: absolute;
    margin-left: -2em; 
}

ul.linux > li:before {
    content: "💻"; /* en dash */
    position: absolute;
    margin-left: -2em; 
}

.stuff .item {
    width: 40%;
    float: left;
    margin-bottom: 4em;
    margin-right: 3em;
}

.stuff .toybox {
    width: 100%;
    clear: both;
    text-align: center;
    margin-bottom: 2rem;
}

.toybox h2 {
    text-align: left;
    display: block;
}

.toybox ul {
    padding: 0;
    margin: 0;
    width: 23%;
    text-align: center;
    display: inline-block;
}

.toybox img {
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #CCC;
    border-radius: 25px;
    margin: 10px;
}

.container {
    width: 698px;
    margin: 50px auto;
}

.software img.preview {
    height: 150px;
    width: 150px;
    background: #CCC;
    border: 1px dashed #000;
    float: left;
    margin-right: 1rem;
}

.software .item {    
    height: 180px;
}

.gallery .item {
    width: 50%;
    float: left;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    border: 1px dashed #CCC;
    border-top: none;
    border-left: none;
    padding: 2em;
}

.gallery .item img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #CCC;
}

.gallery .item:nth-child(4) {
    border-right: none;
}

.gallery .item:nth-child(5) {
    border-bottom: none;
}

.gallery .item:nth-child(6) {
    border-right: none;
    border-bottom: none;
}

.gallery .item p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-size: 9px;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

.blog .post {
    border-bottom: 1px dotted #CCC;
    padding-bottom: 3em;
    margin-bottom: 5em;
}

.blog .post img {
    padding: 3px;
    border: 1px solid #000;
}

.blog .post h2 {
    margin-bottom: 1em;
}

.blog .post .post-info {
    font-size: 10px;
    letter-spacing: 1px;
    font-style: italic;
    opacity: 0.65;
    margin-bottom: 3em;
}

.blog {
    position: relative;
}

.blog .archive {    
    position: absolute;
    right: -290px;
    width: 250px;
    border: 1px solid;
    padding: 10px;
    border-top: 3px double;
    border-bottom: 3px double;
}

.blog .archive a {
    font-weight: bold;
    margin-top: 1em;
    color: #000;
    text-decoration: none;
    display: block;
}

.about table {
    margin: 2em 0;
}

.about table td:first-child {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: right;
}

.about td {
    padding: 3px 5px;
}

footer {
    width: 100%;
    display: block;
    opacity: 0.4;
    clear: both;
    font-size: 10px;
    text-align: right;
    padding-top: 0.5rem;
    border-top: 1px dotted #000;
}