body {
	background: #486B9E;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	
}

a {
	text-decoration: none;
	color: #FFF;
}

.header {
	text-transform: uppercase;
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url('rainebg.png');
	background-position: left bottom;
	background-repeat: no-repeat;
}

.title {
	margin: 130px;
	margin-bottom: 0;
}

.menu {
	margin: 40px 130px;

}

.main {
	background: #37537B;
	position: absolute;
	width: 50%;
	min-height: 100%;
	right: 0;
	top: 0;
}

.content {
	width: 500px;
	margin: 130px;
	font-size: 14px;
}

h1, h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: 500;
}

h1, h2 {
	margin-top: 90px;
}

h1:first-child {
	margin-top: 0;
}

h2 {
	font-size: 16px;
	text-transform: none;
	padding-left: 10px;
}


h2::before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 14px;
	background: #AABDD9;
	position: relative;
	top: 2px;
	left: -10px;
}

.main img {
	max-width: 100%
}

.main a img {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    opacity: 0.7;
    max-width: 55%;
    display: block;
    margin: 50px auto;
}

.main a:hover img {
}

.content p {
	line-height: 2rem;
	margin: 30px 0;
	opacity: 0.8;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	padding: 15px 20px;
	padding-bottom: 12px;
}

.menu a:hover li::after {
	display: block;
	width: 100%;
    content: "";
    border-bottom: 1px solid #FFF;
    margin: center;
    padding-top: 2px;
}

.menu li::after {
	display: block;
	width: 100%;
    content: "";
    border-bottom: 1px solid transparent;
    margin: center;
    padding-top: 2px;
}

.menu a {
	display: inline-block;
	border: 1px solid #FFF;
	margin: 0;
	margin-left: -5px;
	letter-spacing: 2px;
	font-size: 12px;
}

.title {
	letter-spacing: 5px;
	font-size: 24px;
	font-weight: 600;
}

.content ul {
	padding: 0;
	margin: 0;
}

.content li { 
    list-style-type: none;
    line-height: 3em;
}

.content li:before { 
    content: '\b7\a0';
    margin: 0px 15px;
}

.content p a {
	padding: 2px;
	background: #486B9E;
	color: #FFF;
}

.content p a:hover {
	background: #405F8D;
	color: #FFF;
}


a.button {
	opacity: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 20px;
	margin-right: 15px;
	border: 1px solid #FFF;
	background: transparent;
}

a.button:hover {
	background: #486b9e;
}

img.thumb {
	width: 100px;
	height: 100px;
	opacity: 0.7;
	cursor: pointer;
	margin-right: 3px;
	margin-bottom: 2px;
}

img.thumb:hover {
	opacity: 1;
}

.date {
	font-size: 10px;
	line-height: 2rem;
	margin-top: 10px;
	opacity: 0.8;
	letter-spacing: 1px;
	text-transform: uppercase;
}

article img {
	max-width: 100%;
}

textarea {
	width: 100%;
	border: none;
	color: ;
	background: #486B9E;
	color: #FFF;
    line-height: 1rem;
    opacity: 0.8;
}